<a href="/" class="logo">
  <%= image_tag('images/logo-small.svg') %>
  <span class="summary">
    <em>Euruko 2016</em><br>23 – 24 September, Sofia
  </span>
</a>

<nav>
  <%= link_to 'Blog', '/#call-for-speakers' %>
  <%= link_to 'Location', '/#call-for-speakers' %>
  <%= link_to 'Speakers', '/#call-for-speakers' %>
  <%= link_to 'Schedule', '/#call-for-speakers' %>
  <%= link_to 'Sponsors', '/sponsors.html' %>
  <%= link_to 'Tickets', '/sponsors.html', class: 'btn' %>
</nav>
