---
title: EuRuKo 2016 - 23-24 September, Sofia
---

<div class="home-header">
  <div class="wrapper">
    <%= image_tag('logo.svg') %>
    <h1>EURUKO 2016</h1>

    <p class="intro">
      EURUKO IS AN ANNUAL RUBY CONFERENCE IN EUROPE.<br>
      VISIT SOFIA, BULGARIA ON SEPTEMBER 23—24, 2016.
    </p>
  </div>
</div>
<div class="home-nav">
  <div class="wrapper">
    <%= partial 'nav' %>
  </div>
</div>

<section class="home-speakers">
  <div class="wrapper">
    <h1>Speakers</h1>

    <div class="speakers-row">
      <div class="speaker">
        <%= link_to image_tag('speakers/matz.jpg'), '/speakers', class: 'avatar' %>
        <%= link_to 'Yukihiro "Matz" Matsumoto', '/speakers' %>
      </div>
      <% (1..3).to_a.each do %>
        <div class="speaker">
          <%= link_to image_tag('coming_soon.svg'), '/speakers', class: 'avatar' %>
          <%= link_to 'Coming Soon', '/speakers' %>
        </div>
      <% end %>
    </div>
    <div class="speakers-row">
      <% (1..4).to_a.each do %>
        <div class="speaker">
          <%= link_to image_tag('coming_soon.svg'), '/speakers', class: 'avatar' %>
          <%= link_to 'Coming Soon', '/speakers' %>
        </div>
      <% end %>
    </div>
    <div class="speakers-row">
      <% (1..4).to_a.each do %>
        <div class="speaker">
          <%= link_to image_tag('coming_soon.svg'), '/speakers', class: 'avatar' %>
          <%= link_to 'Coming Soon', '/speakers' %>
        </div>
      <% end %>
    </div>
    <div class="speakers-row">
      <% (1..4).to_a.each do %>
        <div class="speaker">
          <%= link_to image_tag('coming_soon.svg'), '/speakers', class: 'avatar' %>
          <%= link_to 'Coming Soon', '/speakers' %>
        </div>
      <% end %>
    </div>
  </div>
</section>

<%= partial 'buy_tickets' %>

<section class="home-location">
  <div class="wrapper">
    <h1>Location</h1>

    <p>Euruko 2016 will take place at Hall 3, of The National Palace of Culture (NDK). </p>
    <p>Located in the heart of the city, it's a landmark building and true gem of <a href="https://en.wikipedia.org/wiki/National_Palace_of_Culture" target="_blank">history</a>.<br>
      The venue is surounded by plenty of hotels and restaurants, and is well connected with the city by a metro station.</p>

    <%= link_to 'More info about the venue', '/location', class: 'btn' %>
  </div>
</section>

<section class="light">
  <%= partial 'newsletter' %>
</section>

<%= partial 'footer' %>
