---
title: Location | EuRuKo 2016 - 23-24 September, Sofia
---

<%= partial 'header' %>

<section>
  <div class="wrapper">
    <h3>About Sofia</h3>
    <p>Last year, Sofia was voted the host for Euruko 2016. Sofia is the capital of Bulgaria, and also the largest city in the country.
      It's located right in the centre of the Balkan Peninsula, at the foot of Vitosha mountain.
      With more than 7000 years of history it's one of the oldest cities in Europe. </p>

    <p>One can easily find their way around Sofia by means of the underground subway. It has two lines and 34 stations,
      making possible traveling between the city center and the airport in around 30 minutes for less than 1 euro.
      Apart from visiting all the historical and cultural sights, you can also enjoy a walk in Sofia’s
      many parks and gardens, such as South Park, Borisova Garden or even The Vitosha Mountain National Park.</p>
  </div>
</section>

<div class="venue-image">
  <%= link_to '(cc) emdees', 'https://www.flickr.com/photos/74862615@N00/234059633/in/photolist-mFBLV-ph94VM-4xgvh6-72qHX5-9TbVQt-4EWcxw-pgphBK-divXi-divCo-divgi-diwEt-diwfF-s2u7e-4xkGzC-9FKPUb-bkAAn9-9FKvNs-q8VrEm-9FGCoz-9FGAVt-d9rkos-9FGMx8-9FKGn3-9WELTR-5CAm6n-hz4sgZ-5CAgs2-5CymLw-hz2UdV-5CEzYq-5CBsdj-5CESLG-5CEwzG-5CuquH-5CEpDh-9FKC3w-9FKu7A-9FKDGy-du2M3z-9FKAvu-9FKLjS-asjo89-9FKSG5-9FGwjZ-5CEC8C-fnicJ-atGxGA-9FKF7o-Ff61c-5Cy3AG', class: 'attribution', target: '_blank' %>
</div>

<section>
  <div class="wrapper">
    <h3>The Venue</h3>

    <p>The National Palace of Culture was built in 1981, to serve as a conference and exhibition center for various events.
      The vast exhibition spaces, numerous halls, and spectacular view from the spacious balconies, contribute to its cult status.</p>

    <p>The park around NDK is known as one of the hot spots for youngsters (and not only) and is just few minutes walk from one of Sofia's vibrant pedestrian streets - Vitosha.</p>

    <p>There is a metro station, conveniently located right at the venue entrance. </p>

    <br>

    <div class="gallery">
      <%= link_to image_tag('venue/thumbs/1.jpg'), image_path('venue/1.jpg'), class: 'gallery-item' %>
      <%= link_to image_tag('venue/thumbs/2.jpg'), image_path('venue/2.jpg'), class: 'gallery-item' %>
      <%= link_to image_tag('venue/thumbs/4.jpg'), image_path('venue/4.jpg'), class: 'gallery-item' %>
      <%= link_to image_tag('venue/thumbs/5.jpg'), image_path('venue/5.jpg'), class: 'gallery-item' %>
    </div>
  </div>
</section>

<%= partial 'map' %>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.1.6/zepto.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
<script>
$('.gallery-item').magnificPopup({
  type: 'image',
  gallery:{
    enabled:true
  }
  });
</script>

<%= partial 'footer' %>
