---
title: Speakers | EuRuKo 2016 - 23-24 September, Sofia
---

<%= partial 'header' %>

<section>
  <div class="wrapper">
    <h1>Speakers</h1>

    <div class="speakers-list">
      <% data.speakers.each do |speaker| %>
        <div id="<%= speaker.handle %>" class="speaker">
          <%= image_tag speaker.image %>
          <h3><%= speaker.name %></h3>
          <p><%= speaker.bio %></p>
        </div>
      <% end %>
    </div>
  </div>
</section>

<section class="light">
  <%= partial 'newsletter' %>
</section>

<%= partial 'footer' %>
