---
title: Sponsors | EuRuKo 2016 - 23-24 September, Sofia
---

<%= partial 'header' %>

<section class="sponsors-page">
  <div class="wrapper">
    <h1>Thanks to our Sponsors</h1>
    <p>
      EuRuKo is possible thanks to the support of the community!
      We would like to say “Thank you!” to each company contributing to the conference.
    </p>

    <hr>

    <div class="sponsors-block">
      <% data.sponsors.each do |meta| %>
        <h3><%= meta.category %></h3>

        <% meta.sponsors.each do |sponsor| %>
          <div class="sponsor">
            <%= link_to image_tag(sponsor.logo), sponsor.homepage, target: '_blank', class: 'logo' %>
            <div class="description">
              <h2><%= sponsor.name %></h2>
              <%= link_to sponsor.homepage, sponsor.homepage, target: '_blank', class: 'url' %>
              <%= sponsor.html %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</section>

<section class="light centered">
  <div class="wrapper">
    <h2>Interested in supporting EuRuKo?</h2>
    <p>
      EuRuKo is an annual non-profit tech conference and the second largest Ruby community gathering in the world.<br>
      By supporting the event you get the opportunity to show your company in front of over 700 developers from all around the globe.
    </p>

    <div class="cta">
      <%= link_to 'Become a sponsor', '/sponsorship-packages', class: 'btn' %>
    </div>
  </div>
</section>

<%= partial 'footer' %>
