---
title: Sponsors | EuRuKo 2016 - 23-24 September, Sofia
---

<%= partial 'header' %>

<section class="sponsors-page">
  <div class="wrapper">
    <h1>Thanks to our Sponsors</h1>
    <p>EuRuKo wouldn't happen without support from the community! We appreciate all support we get and thank personally to every company that takes part in the conference.</p>

    <hr>

    <div class="sponsors-block">
      <h3>Unicorn</h3>

      <div class="sponsor">
        <%= link_to image_tag('sponsors/receipt_bank_logo.svg'), 'http://www.receipt-bank.com', target: '_blank', class: 'logo' %>
        <div class="description">
          <h2>Receipt Bank</h2>
          <%= link_to 'http://www.receipt-bank.com', 'http://www.receipt-bank.com', target: '_blank', class: 'url' %>
          <p>Receipt Bank is an award-winning accounting software used by 30,000+ small business to make bookkeeping effortless. Our automation saves them hundreds of hours every year - and we’re just getting started!</p>
          <p>We are based around the globe, but our development team is mostly here in Bulgaria. We are a start-up that cares deeply about high quality and sane development practices. We have learned through blood and tears that the best way is almost always through beautiful, easily maintained code.</p>
          <p>We are down to earth, happy Rails users and extremely proud sponsors of EuRuKo 2016.</p>
        </div>
      </div>
    </div>

    <div class="sponsors-block">
      <h3>Webrick</h3>

      <div class="sponsor">
        <%= link_to image_tag('sponsors/emerchantpay_logo.svg'), 'https://www.emerchantpay.com', target: '_blank', class: 'logo' %>
        <div class="description">
          <h2>eMerchantPay</h2>
          <%= link_to 'https://www.emerchantpay.com', 'https://www.emerchantpay.com', target: '_blank', class: 'url' %>
          <p>eMerchantPay is an established payment service provider that provides international online, mobile and POS payment processing services to merchants across the globe. eMerchantPay’s fraud prevention services and payment processing solutions enable merchants to increase their conversion rates, expand their customer reach and prevent fraud. Innovative payment solutions, processing in more than 150 currencies and various languages, plus dedicated account managers providing personal service make eMerchantPay a knowledgeable specialist and an innovative partner for businesses of all types and sizes.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="call-for-sponsors" class="dark centered sponsors">
  <div class="wrapper">
    <h2>Interested in supporting EuRuKo?</h2>
    <p>
      EuRuKo is an annual non-profit tech conference and the second largest Ruby community gathering in the world.<br>
      By supporting the event you get the opportunity to show your company in front of over 700 developers from all around the globe.
    </p>

    <div class="cta">
      <%= link_to 'Become a sponsor', '/sponsorship-packages', class: 'btn' %>
    </div>
  </div>
</section>

<%= partial 'footer' %>
