---
title: Tickets | EuRuKo 2016 - 23-24 September, Sofia
---

<%= partial 'header' %>

<section class="tickets">
  <div class="wrapper">
    <h1>Tickets</h1>
    <p>This is the ticket reservation form for EuRuKo. If you need more information or an invoice, please consult with the <a href="#faq">FAQ section</a>. </p>

    <script src="https://cdn.weemss.com/compiled/js/integration-embed.js?v68"></script><iframe src="https://event.gg/2845/form/2839" id="weemss_integration_2839" frameBorder="0" width="100%" height="450" scrolling="no"></iframe>
  </div>
</section>

<section class="light faq" id="faq">
  <div class="wrapper">
    <h2>FAQ</h2>

    <h4>How do I get an invoice for my ticket?</h4>
    <p class="inner">Just fill in your Reservation ID and company details in the form below, and we will send you an invoice for your ticket. </p>
    <p><%= link_to 'Request Invoice', 'https://docs.google.com/forms/d/1KvQdaDwnjzz1o3n_xpfz-29p-akwd88VpGXQxyoLoao/viewform', class: 'btn', target: '_blank' %></p>

    <h4>What information do we collect?</h4>
    <p class="inner">We collect personal information from you when you purchase a ticket. You may however, visit our site anonymously.</p>
    <p class="inner">Any of the information we collect from you may be used in one of the following ways:</p>
    <ul>
      <li>To personalize your experience</li>
      <li>To help us to more effectively respond to your requests and support needs</li>
      <li>To process transactions</li>
    </ul>
    <p>Your information, whether public or private, will not be sold, exchanged, transferred, or given to any other company for any reason whatsoever, without your consent, other than for the express purpose of delivering the purchased tickets.</p>

    <h4>Prices and Local Taxes</h4>
    <p>All ticket prices include the local sales tax where the event takes place, and any other transaction fees. Prices include VAT.</p>

    <h4>Shipping Information</h4>
    <p>All tickets are delivered via email. Upon registration at the venue, you will receive your badge and t-shirt.</p>

    <h4>Refunds</h4>
    <p>If you have to cancel your conference ticket(s), please send us an email at <%= link_to 'hi@euruko2016.org', 'mailto:hi@euruko2016.org?subject=Refund' %> at latest two weeks before the event. Once you cancel the ticket(s), you will receive a refund of your purchase. Cancellations made later than two weeks before the event starts and attendees who fail to attend for some reason, can’t be considered for refunds. Sorry.</p>

    <h4>Transferring your ticket</h4>
    <p>If you’d like to transfer your ticket to a friend or colleague without the reservation being refunded, that’s no problem at all — no cancellation fees will occur. Don’t forget to send us the new attendee contact details at <%= link_to 'hi@euruko2016.org', 'mailto:hi@euruko2016.org?subject=Ticket Transfer' %> no later than five days before the event you are registered for. We’ll sort it out quickly.</p>

    <h4>Event Cancellation</h4>
    <p>If the event is cancelled, Euruko 2016 will fully refund your registration fee with no penalties or other reductions — no questions asked! However, we can’t cover travel or hotel reservation costs.</p>

    <h4>Code of Conduct</h4>
    <p>All attendees shall conduct themselves at all times in accordance with the Conference’s Code of Conduct, as listed on <%= link_to 'http://berlincodeofconduct.org/', 'http://berlincodeofconduct.org/', target: '_blank' %>. Euruko 2016 reserves the right to remove from the Conference a person, Company, or any Company representative(s) violating those standards. Euruko 2016 will not refund anyone who violates the Code of Conduct.</p>
  </div>
</section>

<section class="centered">
  <h3>Need more information?</h3>
  <%= link_to 'Contact us', 'mailto:hi@euruko2016.org?subject=Tickets Question', class: 'btn' %>
</section>

<%= partial 'footer' %>
